# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
firebase*.json

# Submission files
24120184.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Mac/OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Local DBs and Temp files
*.db
*.sqlite3
*.log
local_app.db
